<li class="hm-minicart">
    <div class="hm-minicart-trigger">
        <span class="item-icon"></span>
        <span class="item-text">
            @ViewBag.Tongtien
            <span class="cart-item-count">@ViewBag.Tongsoluong</span>
        </span>
    </div>
    <span></span>
    <div class="minicart">

        <p class="minicart-total">SUBTOTAL: <span>@ViewBag.Tongtien</span></p>
        <div class="minicart-button">
            <a href="@Url.Action("GioHang","GioHang")" class="li-button li-button-fullwidth li-button-dark">
                <span>View Full Cart</span>
            </a>
            <a href="@Url.Action("Checkout","SalesOnline")" class="li-button li-button-fullwidth">
                <span>Checkout</span>
            </a>
        </div>
    </div>
</li>
