@using MyProject.Models
@model List<GioHang>

@{
    Commoninfo z = (Commoninfo)HttpContext.Current.Application["dungChung"];
}
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/_MyLayout.cshtml";
}

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">remove</th>
                                    <th class="li-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="li-product-price">Unit Price</th>
                                    <th class="li-product-quantity">Quantity</th>
                                    <th class="li-product-subtotal">Total</th>
                                    <th class="li-product-subtotal"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sp in Model)
                                {

                                <tr>
                                    @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @iMaSP = sp.iMaSP }))
                                    {
                                        <td class="li-product-remove"><a href="">@Html.ActionLink("×", "XoaGiohang", new { @iMaSP = sp.iMaSP })</a></td>
                                        <td class="li-product-thumbnail">
                                            <a href="#">
                                                <img src="@sp.sHinhDD" alt="Li's Product Image" style="max-width:300px;">
                                            </a>
                                        </td>
                                        <td class="li-product-name"><a href="#">@sp.sTenSP</a></td>
                                        <td class="li-product-price"><span class="amount">@sp.dDongia</span></td>
                                        <td class="quantity">
                                            <label>Quantity</label>
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" value="@sp.iSoluong" type="number" name="txtsoluong">
                                                <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                            </div>
                                        </td>
                                        <td class="product-subtotal"><span class="amount">@sp.dThanhtien</span></td>
                                        <td>
                                            <input type="submit" value="Cập nhật" class="button">
                                        </td>
                                    }
                                </tr>
                                    }

                                    @*<tr>
                <td class="li-product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                <td class="li-product-thumbnail"><a href="#"><img src="~/Content/images/product/large-size/10.jpg" alt="Li's Product Image"></a></td>
                <td class="li-product-name"><a href="#">Mug Today is a good day</a></td>
                <td class="li-product-price"><span class="amount">$71.80</span></td>
                <td class="quantity">
                    <label>Quantity</label>
                    <div class="cart-plus-minus">
                        <input class="cart-plus-minus-box" value="1" type="text">
                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                    </div>
                </td>
                <td class="product-subtotal"><span class="amount">$60.50</span></td>
            </tr>*@
                                </tbody>
                        </table>
                    </div>
                    @*<div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                </div>
                                <div class="coupon2">
                                    <input class="button" name="update_cart" value="Update cart" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal <span>$130.00</span></li>
                                    <li>Total <span>@ViewBag.Tongtien</span></li>
                                </ul>
                                <a href="#">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>
<!--Shopping Cart Area End-->
